<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>The Bechdel Test</title>
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway|Roboto|Lora|Open+Sans+Condensed:300" rel="stylesheet">
		<script type="text/javascript" src="../d3/d3.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="../js/get_data.js"></script>
        <link rel="stylesheet" href="bechdel_title.css">
   	</head>
    
    <body>
    
        <div class="main_title"></div>      
        
        <div class="graphs starthidden">
            <p class="label">GRAPHS</p>
            <div class="graph_buttons">
            </div>
        </div>
        
        <div class="fields starthidden">
            <p class="label">FIELDS</p>
            <div class="Z" >
                <p class="field_label">Z</p>
            </div>
            <div class="X" >
                <p class="field_label">X</p>
            </div>
            <div class="Y" >
                <p class="field_label">Y</p>
            </div>
        </div>
        
        <script>
        
            // Global variables
            var s_fields = ['Gross', 'Budget'];
            var bx_fields = ['Gross', 'Budget', 'Certificate'];
            var by_fields = ['Total', 'Percentage'];
            
            make_graph_button('Bar');
            make_graph_button('Scatter');
            make_title('Testing Buttons');
        
            // Function - Creates our title
            function make_title(P_title) {
            
                var r = $('<a class="title info">'+P_title+'</a>');
                
                $(  ".main_title" ).append( r ).hide();            
                
            }
       
            // Function - Creates our Graph Buttons
            function make_graph_button (P_graph) {
            
                // Define new element
                var r = $(' <button class="graph_button" axis="i" id="'+P_graph+'">'+P_graph+'</button>');
                
                // Bind click event to element
                r.on('click', function () {
                 
                    // Set buttons as clicked
                    $('.graph_button').removeClass('clicked');
                    $(this).addClass('clicked');

                    
                    // Disable all buttons
                    $('button').prop('disabled', true);
                    setTimeout(function() {
                        $('button').prop('disabled', false);
                        $('#'+P_graph).prop('disabled', true);
                    },   3000);
                                        
                    // Determine the fields to append
                    if (P_graph == 'Bar') {
                        var x_fields = bx_fields;
                        var y_fields = by_fields;
                    } else {
                        var x_fields = s_fields;
                        var y_fields = s_fields;                
                    };
                    
                    // Switch field buttons
                    remove_object('axis_buttons', function() {
                        make_field_buttons(y_fields, 'Y');
                        make_field_buttons(x_fields, 'X');
                        show_object('axis_buttons');
                    });
                });
                
                // Append new element
                $(  ".graph_buttons" ).append( r ).hide();


            };
            
            // Function - Creates the field buttons for an axis
            function make_field_buttons (P_fields, P_axis) {
            
                // Define new element - div that will hold our buttons
                var r = $('<div class="axis_buttons">');
                
                // Bind click event to new element
                $("."+P_axis).append( r )
                
                // Loop through our fields
                $.each(P_fields, function(d, i) {
                    
                    // Define new button element
                    var r = $('<button class="field_button" axis="'+P_axis+'" id="'+i+'"> '+i+' </button>');
                    
                    // Bind click event to new element
                    r.on('click', function() { 
                    
                        // Disable buttons
                        $('.field_button').prop('disabled', true);
                        setTimeout(function() {
                            $('.field_button').prop('disabled', false);
                        },   3000);
                        
                        $("button[axis='"+P_axis+"']").removeClass("clicked");
                        $(this).addClass("clicked");
                        
                    });
                    
                    // Append new element
                    $("."+P_axis+" .axis_buttons"  )
                        .append( r.prop('disabled', true) )
                        .hide();
                                                           
                });
                                
            };
            
            // Fades in an object 
            function show_object (P_object) {
             
                $("."+P_object).fadeIn(2000);
            
            };
            
            // Removes an object
            function remove_object(P_object, callback) {
                
                if ($('.'+P_object).length) {
                    $('.'+P_object).fadeOut(1000, function() { $(this).remove(); });
                    setTimeout(function() {
                        callback();   
                    },   1000);  
                } else {
                    callback(); 
                };
            };
                
            // Start up
            $(document).ready(function() {
                show_object('main_title');
                show_object('starthidden');
                setTimeout(function() {
                    show_object('graph_buttons');
                },   2000); 

            });
                    
        </script>
    
    </body>
    
    
</html>